/* avatars style */

body {
  background-color: #ffffff;
  margin: 0;
  font-family: sans-serif;
}

.container {
  padding: 100px;
}

.avatar {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 64px;
  height: 64px;
  position: relative;
}

.avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.status {
  bottom: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
}

.status.on {
  background-color: #4cfe88;
}

.status.off {
  background-color: #dbdbdb;
}
